
<ion-view>
  <ion-content animation="my-animate" class='adoptBack' scroll="false">
<div class="unMenu2"><a class="ion-navicon" menu-toggle="right"></div>
       </a>
  <div class="addAnEvent">




   <i id='adoptPic2' ng-click="go_event()" class="icon ion-ios7-plus"></i>


    <h3 id='adoptSub'>Add an event to the school feed by tapping the button above. </h3>
    <br>
    <p class="addSubText"> This event will only be viewable by students on the U Nightlife app.</p>

    </div>


  </ion-content>
</ion-view>

