<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view>

	  <ion-content scroll="false"  padding="false">
	  <div id='expandedEvent' class='aboutPage'>


	  		<div id='singleEventContent'>



	    		<img ng-show="{{singleEvent.cover}}" src="{{singleEvent.cover}}">
          <img ng-hide="singleEvent.cover!=undefined" src="http://i62.tinypic.com/2zznq55.jpg" >

					<p id="expandedEventName">
	    			{{ singleEvent.name }}
	    		</p>

<div class="list card">
	  <div class="item-text-wrap">
						  	<div class="item item-icon-left item-divider" ng-click="expandEvent()">
						  		<i class="icon ion-clipboard"></i>
						  		Event Info
						  	</div>
						  	<br>
						  	<div id="eventDiv2" ng-if="showEvent" class="item animate-if">
	          		 {{ singleEvent.description}}
	       			 </div>
						  </div>


						  <div ng-if="singleEvent.timeOfEvent!=null" class="item item-icon-left item-divider">
			    			<i class="icon ion-ios7-alarm-outline"></i>
			    			{{ singleEvent.timeOfEvent }}
			    		</div>
			    		<br ng-if="singleEvent.timeOfEvent!=null">


			    		<div ng-click="newEvent()" class="item item-icon-left item-divider">
			    			<i class="icon ion-ios7-calendar-outline"></i>
			    			{{ singleEvent.start_time }}</div>
			    			<br>


	    			<div ng-click="mapThis()" class="item item-icon-left item-divider">
			    			<i class="icon ion-ios7-location"></i>
			    			{{ singleEvent.location }}</div>

			    			<br>







<!--
						<div class="list">
			<div class="item item-divider item-icon-left" ng-click="showDesc=!showDesc" ng-if="singleEvent.description">
   	      <i class="icon ion-clipboard"></i>
						    Event Description:
   	     </div>

   	     	<div collapse="!showDesc">
   	     		<div class="item">
	           {{ singleEvent.description}}
	        </div>
	      </div>
	    </div> -->



					</div>

	 			 </div>
 <div>
	  <a id='eventLink'class="topBtn" ng-click="goBack()" animation="slide-right-left-ios7">
	   <i class="icon ion-arrow-return-left"></i>
	 	</a>
	  <a id="shareBtnId" ng-click="shareBtn('Check out this event I found on the U Nightlife app: '+singleEvent.name+'. It takes place at: '+singleEvent.start_time+'. For more info about this and other events, download the app at: itunes.download.com/downloadus.', 'Sharing an event with you!', singleEvent.cover, singleEvent.location)" class="topBtn">
	      <i class="icon ion-share"></i>
	 	</a>
	 </div>
</div>
<!--  // script
	// FlurryAgent.logEvent('Event Opened');
 //    script -->
  </ion-content>
</ion-view>
