
<ion-view>


 <ion-content scroll="false" scrollbar-y="false" class="mesh" animation="slide-left-right-ios7">

  <a class="unMenu2 ion-navicon" menu-toggle="right"></a>
  <ion-scroll id="eventList">

  <ion-refresher id="re1" refreshing-icon="ion-loading-c"  on-refresh="alert3()">
  </ion-refresher>

  <hr class="div12">
  <div class="eventScroller" ng-repeat="event in events | orderObjectBy:'timeString':true |  orderObjectBy:'start_time':true | orderObjectBy:'startYear':false " ng-click="go_here(event)">
    <img ng-show="{{event.cover}}" class="full-image" src="{{event.cover}}" >
    <img ng-hide="event.cover!=undefined" ng-click="go_here(event)" class="full-image" src="http://i62.tinypic.com/2zznq55.jpg" >
		<div class="eventInfoSection">
      <h3 id="eventName">{{event.name}}</h3>
      <p id="eventLocation" ng-if="event.location!=null"><i class="icon ion-ios7-location"></i> {{event.location}}</p>
      <p class="eventDT" ng-if="event.start_time!=null">{{event.start_time}}</p> <p class="eventDT" ng-if="event.timeOfEvent!=null">{{event.timeOfEvent}}</p>
    </div>

    <hr class="div12">
	 </div>
  <div class="cushion">
    <br><br>
  </div>

  </ion-scroll>

 </ion-content>
</ion-view>


