<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view>
  <ion-content animation="my-animate" class='adoptBack' scroll="false" has-tabs="false">
  <div>

      <button id="unMenu" class="button button-clear button-icon icon ion-navicon" menu-toggle="'right'"></button>
      <br>

   <i id='adoptPic' class="icon ion-android-hand"></i>
    <h3 id='adoptHead'>S.O.S. Or Just Curious?</h3>
    <h4 id='adoptSub'>Don't hesitate to reach out.</h4>
    <br><br>
    <a href="#/app/about" class="adoptBtn button button-positive">
  				F.A.Q.
		</a>
    <a href="mailto:UNRepTeam@gmail.com?subject=It's good to talk&body=Hi," class="adoptBtn button button-stable">
  				Email Us
		</a>
				<p></p>
		<!-- <button class="adoptBtnLong button button-stable">
			Frequently Asked Questions
		</button> -->
    </div>

  </ion-content>
</ion-view>
