<ion-view hide-back-button="true">

    <ion-content scroll ="false" has-tabs="false" padding="false">

       <!--  <div class="list list-inset"  style="background: #1b5a83"> -->

         <!--    <div class="item item-image" style="border:none;margin-top:50px;">
                <img src="img/sociogram.jpg"/>
            </div> -->
        <!--     <button class="button button-block button-light" ng-click="facebookLogin('Binghamton')">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Binghamton
            </button> -->

         <div id='wholeEventsPage' >
  	<div id="unLogo">

  		</div>
<ion-list id='eventList'>

	    	<scroll style="height:500px">
  <div class='schoolPage'>
  	<br>
  	<p><h1><i class="icon ion-ios7-reloading"></i> Loading...</h1></p>


<!-- class="row responsive-sm" -->


    </div>
    </scroll>
  </ion-list>
</div>


      <!--   </div> -->


    </ion-content>

</ion-view>

