<ion-view hide-back-button="true">

    <ion-content scroll="false" has-tabs="false" padding="false">

       <!--  <div class="list list-inset"  style="background: #1b5a83"> -->

         <!--    <div class="item item-image" style="border:none;margin-top:50px;">
                <img src="img/sociogram.jpg"/>
            </div> -->
        <!--     <button class="button button-block button-light" ng-click="facebookLogin('Binghamton')">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Binghamton
            </button> -->

         <div id='wholeEventsPage' >

  	<div id="unLogo">

  		</div>
<div id='eventList'>

	    	<scroll style="height:500px">
  <div class='schoolPage'>
  	<p></p>
  	<h1>Pick Your School</h1>
<!-- class="row responsive-sm" -->
<a class="button button-outline button-light" ng-click="facebookLogin('Binghamton')">
   SUNY Binghamton
</a>

<br><br>
 <br>

<a class="button button-outline button-light" ng-click="facebookLogin('Central Michigan')">
   Central Michigan
</a>
<br><br>
      <br>
<a class="button button-outline button-light" ng-click="facebookLogin('George Washington University')">
   George Washington
</a>
<br><br>
<br>
<!-- <a class="button" ng-click="login3()">Login3</a><br> -->
<a class="button button-outline button-light" ng-click="facebookLogin('Michigan State')">
   Michigan State
</a>
<br><br>
<!--  <button class="button" ng-click="login()">Login using Facebook2222</button> -->
 <br>
<a class="button button-outline button-light" ng-click="facebookLogin('Oneonta')">
   SUNY Oneonta
</a>
<br><br>
<br>
<a class="button button-outline button-light" ng-click="facebookLogin('Central Florida')">
   Central Florida
</a>
<br><br><br>
<a class="button button-outline button-light" ng-click="facebookLogin('University of Hawaii')">
   U of Hawaii (Manoa)
</a>
<br><br><br>
<a class="button button-outline button-light" ng-click="facebookLogin('University of Illinois at Urbana-Champaign')">
   U of Illinois (UIUC)
</a>
<br><br><br>
<a class="button button-outline button-light" ng-click="facebookLogin('University of Michigan')">
   U of Michigan
</a>
  </div>
    </div>
    </scroll>
  </div>


    </ion-content>

</ion-view>


